<div class="container">
<form method="post" action="/game/<%= @a_game.id %>/update">
  <input type="hidden" name="_method" value="put">
  <div>
    <label>Game Title:</label>
    <input type="text" name="title" value="<%= @a_game.title%>">
  </div>
  <div>
    <label>Health:</label>
    <input type="text" name="health" value="<%= @a_game.health%>">
  </div>
  <div>
    <label>Number of Cards in a deck:</label>
    <input type="text" name="deck_size" value="<%= @a_game.deck_size%>">
  </div>
  <div>
    <label>Number of Cards on hand:</label>
    <input type="text" name="hand_size" value="<%= @a_game.hand_size%>">
  </div>
  <div><input type="submit" value="Submit"></div>
</form>
</div>