<div class="container">
<form method="post" action="/game/<%= @a_game.id %>/update">
  <input type="hidden" name="_method" value="put">
  <div>
    <label>Game Title:</label>
    <input type="text" name="title" value="<%= @a_game.title%>">
  </div>
  <div>
    <label>Health:</label>
    <p class="range-field">
      <input type="range" name="health" value="<%= @a_game.health%>" min="0" max="20" />
    </p>
  </div>
  <div>
    <label>Number of Cards in a deck:</label>
    <p class="range-field">
      <input type="range" name="deck_size" value="<%= @a_game.deck_size%>" min="0" max="50" />
    </p>
  </div>
  <div>
    <label>Number of Cards on hand:</label>
    <p class="range-field">
       <input type="range" name="hand_size" value="<%= @a_game.hand_size%>" min="0" max="10" />
    </p>
  </div>
  <div><button class="waves-effect waves-light btn amber accent-3" type="submit" value="Submit">Submit</button></div>
</form>
</div>