<% if turn?(@id) == 2 %>
  <script type="text/javascript">
    $(document).ready(function(){
      $('button[type="submit"]').attr('disabled','disabled');
      $('input[type="submit"]').attr('disabled', 'disabled');
    });
  </script>
<% end %>

<% @activegame = ActiveGame.find(@id) %>

<!-- ENEMY STATS -->

<div class="row" id="hud">
  <div class="card-panel red " id="enemy_name">
    <center>
    <h5 class="card-content white-text"><%= current_user.name %> || Health: <%= player_health(@activegame.player2_id)%> || Deck Size: <%= deck_size(@activegame.player2_id)%></h5>
    <% hand = show_hand(@activegame.player2_id)%>
    <% hand.each do |card| %>
      <button class ="hidden_btn" name ="card" type="submit" value ="<%= card[0] %>">
        <div class="card_circle">
        </div>
      </button>
    <% end %>
    </center>
  </div>
</div>

<!-- GAME BOARD -->

<div class="row" id="board">
  <form id="attackForm" method="post" action='/board/<%=@id %>/player1/attack'>
    <div class="col-md-12" id='enemy_board'>
      <% board = show_board(@activegame.player2_id)%>
      <div class="row">
      <% board.each do |card| %>
        <div class="col s1">
          <div class="card  red darken-3">
            <div class="card-content white-text">
              <center>
              <img src="/<%= Card.find(card[1]).picture %>" height="50" width="50">
              <p><%= Card.find(card[1]).name %></p>
              <p><%= ActiveCard.find(card[0]).attack %>/<%= ActiveCard.find(card[0]).health %></p>
              <p><input name="target" type="radio" value="<%= card[0] %>" /></p>
              </center>
            </div>
          </div>
        </div>
    <% end %>
     </div>
    </div>
    <div class="col-md-12" id='player_board'>
      <% board = show_board(@activegame.player1_id)%>
      <% board.each do |card| %>
        <div class="col s1">
          <div class="card green darken-2">
            <div class="card-content white-text">
              <center>
              <img src="/<%= Card.find(card[1]).picture %>" height="50" width="50">
              <p><%= Card.find(card[1]).name %></p>
              <p><%= ActiveCard.find(card[0]).attack %>/<%= ActiveCard.find(card[0]).health %></p>
              <p><input name="attacker" type="radio" value="<%= card[0] %>" /></p>
              </center>
            </div>
          </div>
        </div>
    <% end %>
    </div>
  <input type="submit" value="Attack!">
  </form>
</div>

 <!-- PLAYER HAND -->

 <div class="row">
  <div class="col s12" id="player_cards">
    <form action="/player1/play_card" method="POST">
      <% hand = show_hand(@activegame.player1_id)%>
      <% hand.each do |card| %>
        <div class="col s1">
          <div class="card blue-grey lighten-1">
            <div class="card-content white-text">
              <center>
              <img src="/<%= Card.find(card[1]).picture %>" height="50" width="50">
              <p><%= Card.find(card[1]).name %></p>
              <p><%= ActiveCard.find(card[0]).attack %>/<%= ActiveCard.find(card[0]).health %></p>
              <p><button class ="hidden_btn" name ="card" type="submit" value ="<%= card[0] %>">SELECT</button></p>
              </center>
            </div>
          </div>
        </div>
      <% end %>
    </form>
  </div>
</div>

<!-- PLAYER STATS -->
<div class="row" id="hud">
  <div class="card-panel teal " id="player_name">
    <center>
    <h5 class="card-content white-text"><%= current_user.name %> || Health: <%= player_health(@activegame.player1_id)%> || Deck Size: <%= deck_size(@activegame.player1_id)%></h5>
    <form method="post" action='/board/<%=@id %>/player1/draw'>
      <button name="player_id" type="submit" value="<%= @activegame.player1_id %>">DRAW CARD</button>
    </form>
    <br>
    <button class="finish_turn" type="submit" name="active_game_id" value="<%= @id %>">FINISH TURN</button>
    </center>
  </div>
</div>
